
/******************************/
/***    NavBar - Elements   ***/
#NavBar{
    position: static;
}

#Logo{
    width: 160px;
    height: 140px;
}

.navLink, .button{
    width: 100%;
}

/******************************/
/***    Page Main Content   ***/
#Content{

}

/******************/
/***    Footer  ***/
#Footer{
    position: static;
}