
/********************************/
/***    Wrapper Containers    ***/
#Wrapper{
    height: 100vh;
    width: 100%;
}
#Upper-Wrapper{
    height: 125px;
    width: 100%;
    background-color: rgba(111, 78, 55, 0.502);
    
    
    box-shadow: 0 0 22px 20px rgba(22, 22, 22, 0.5);
}
#Upper-Wrapper > .spacer{
    height: auto;
    width: 10px;
}
#Mid-Wrapper{
    height: 100%;
    width: 100%;
}
#Bottom-Wrapper{
    max-height: 8%;
    background-color: rgba(255, 255, 255, 0.3);
}

/*****************/
/***    Nav    ***/
/*****************/
/***    Logo    ***/
#LogoFlex{
    height: 100%;
    width: auto;
}
#Logo{
    
}

#LogoLink{
    height: 100%;
    width: 100%;
}

#Logo-Button{
    height: auto;
    width: 185px;
    background-color: transparent;
}

#Logo-Button > img{
    height: auto;
    width: 100%;
}

/**********************/
/***    Main Nav    ***/
#NavFlex{
    height: 100%;
    width: 100%;
}

#NavFlex > div{
    height: 25%;
}

#MainNav{
    height: 50%;
}

.navLink{
    height: 55px;
    width: 100px;
}
#NavLinkHome, #NavLinkGallery{
    margin-right: 10px;
}
#NavLinkContactForm{
    width: 144px;
}

/*************************/
/***    Page Footer    ***/
#Bottom-Wrapper > div{
    height: 33px;
}
#Footer{
    height: 50px;
    width: 100%;
    bottom: 0px;
}

#Footer > p{
    font-family: Times;
    font-weight: bold;
    font-size: 1.5em;

}