#Slideshow-Container{
    height: 600px;
    width: 900px;
    background-color: rosybrown;
}

#Image-Container{
    height: 600px;
    width: 900px;
}
#Image-Container > img{
    width: 1200px;
    height: 562px;
}

.slideshow-Button{
    height: 562px;
    width: 60px;
    background-color: rgba(188, 143, 143, 0.4);
}