#Slideshow-Container-1{
    height: 562px;
    width: 100%;
}

#Image-Container-1{
    height: 562px;
    width: 100%;
}
#Image-Container-1 > img{
    display: inline-block;
    background-size: cover;
    top: 0px;
    background-color: rosybrown;
    border-style: none;
    border-color: none;
    border-width: 0px;
}

.slideshow-Button{
    height: 562px;
    width: 60px;
    background-color: rgba(22, 22, 22, 0.9);
    color: whitesmoke;
    font-size: 44pt;
    cursor: pointer; 
}

