/***************************/
/***    Flex - Column    ***/
.flex-column{
    display: flex;
    flex-direction: column;
}

/************************/
/***    Flex - Row    ***/
.flex-row{
    display: flex;
    flex-direction: row;
}

/******************************/
/***    Wrapper - Felx      ***/
#Upper-Wrapper  { order: 1; }
#Mid-Wrapper    { order: 2; }
#Bottom-Wrapper { order: 3; }

/**********************************/
/***    Upper Wrapper - Flex    ***/
#LogoFlex{ order: 2; }
#NavFlex { order: 4; }
#Upper-Wrapper-spacer-1{order: 1}
#Upper-Wrapper-spacer-2{order: 3}
/********************************/
/***    Mid Wrapper - Flex    ***/
/**********************************/
#Mid-Wrapper{
    display: flex;
    justify-items: space-evenly; 
}

/***    Bottom Wrapper - Flex    ***/



#Logo{
    display: flex;
    justify-content: center;
}

#NavFlex{
 
}

/*************************/
/***    Page Footer    ***/
